{:source-paths ["src"]
 :dependencies []
 :builds {:app {:target :node-library
                :exports {:handler server.main/handler
                          :introspect server.main/intro}
                :output-dir "target"
                :output-to "target/main.js"}}}
