{:source-paths ["src"]
 :dependencies []
 :builds {:app {:target :node-library
                :exports {:handler server.main/handler}
                :output-dir "target"
                :output-to "target/main.js"}}}
